<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{ezytheme}">
<body>
<main>
    <div layout:fragment="content" id="main-content">
        <div th:replace="~{fragments/banner :: banner}"></div>
        <div class="container">
            <div class="main-content mt-5">
                <div class="row">
                    <div class="col-lg-9 pe-4">
                        <div class="row">
                            <th:block th:each="post, iterStat : ${postPagination.items}">
                                <div th:if="${iterStat.index == 0}" class="col-lg-12">
                                    <div class="fist-post-title text-center">
                                        <a th:href="${'/post/' + post.slug}">[[${post.title}]]</a>
                                        <div class="post-date">
                                            <span class="post-publishDate date-string" >
                                                [[${post.publishedAt}]]
                                            </span>
                                        </div>
                                    </div>
                                    <div class="post-img">
                                        <a th:href="${'/post/' + post.slug}">
                                            <img th:src="${post.image.getUrlOrNull()}" th:alt="${post.image.originalName}"
                                                 class="w-100 mt-3">
                                        </a>
                                    </div>
                                    <div class="fs-14px mt-3" th:utext="${post.description}"></div>
                                    <a class="readmore mt-3" th:href="${'/post/' + post.slug}">[[#{read_more}]]</a>
                                    <div class="hot-blog-line">
                                        <span class="hot-blog text-in-line text-uppercase">[[#{hot_blog}]]</span>
                                    </div>
                                </div>
                                <div th:if="${iterStat.index != 0}" class="col-lg-6 mt-5">
                                    <div class="sub-post-index" th:classappend="${iterStat.index % 2 != 0 ? 'pe-lg-2' : 'ps-lg-2'}">
                                        <div>
                                            <a th:href="${'/post/' + post.slug}">
                                                <img class="mt-3" th:src="${post.image.getUrlOrNull()}" th:alt="${post.image.originalName}">
                                                <p class="post-title text-center mt-3">[[${post.title}]]</p>
                                            </a>
                                            <div class="post-date">
                                                <span class="post-publishDate date-string">
                                                    [[${post.publishedAt}]]
                                                </span>
                                            </div>
                                        </div>
                                        <div class="fs-14px mt-1" th:utext="${post.description}"></div>
                                        <a class="readmore mt-3" th:href="${'/post/' + post.slug}">[[#{read_more}]]</a>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div th:replace="~{fragments/sub-content :: content}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block layout:fragment="post-scripts">
</th:block>
</body>
</html>