#card-post-index {
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}


// css tiêu đề
.fist-post-title {
  font-size: 24px;
  font-family: 'Lustria', sans-serif;
  margin-bottom: 0;
  letter-spacing: 3px;
}

.post-title {
  margin-top: 20px;
  font-family: 'Lustria', sans-serif;
  font-size: 20px;
  margin-bottom: 0;
  letter-spacing: 2px;
}


// css ngày đăng bài
.post-date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30%;
}

.post-date::before,
.post-date::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #d4b48b;
  margin: 0 10px;
}

.post-publishDate {
  color: #d4b48b;
  font-family: 'Lustria', Times, serif;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1px;
}

// css hình ảnh
.main-blog img {
  width: 100%;
}

// css read more
.readmore {
  color: #be9656;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  margin: auto;
  letter-spacing: 2px;
}


//css
.sub-post-index img {
  height: 320px;
  width: 100%;
  object-fit: cover;
}

// css Hot blog
.hot-blog-line{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hot-blog-line::before,
.hot-blog-line::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #e1e1e1;
  margin: 0 10px;
}

.hot-blog {
  font-size: 14px;
  letter-spacing: 1px;
}