<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{ezytheme}">
<body>
<div layout:fragment="content" id="main-content">
    <div th:replace="~{fragments/banner :: banner}"></div>
    <div class="container">
        <div class="main-content mt-5">
            <div class="row">
                <div class="col-lg-9">
                    <div class="fist-post-title text-center">
                        [[${post.title}]]
                        <div class="post-date">
                            <span class="post-publishDate date-string">
                                [[${post.publishedAt}]]
                            </span>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="mt-3" th:utext="${post.content}">
                        </div>
                        <div class="tag mt-9 mb-5">
                            <div class="card-tag">
                                <i class="fa fa-tags me-1"></i>
                                <a th:each="term : ${post.term}" th:href="${'/category/' + term.name}">[[${term.name}]]</a>
                            </div>
                            <div class="card-tag">
                                <a href="">
                                    <i class="fa-solid fa-share"></i>
                                    [[#{share}]]
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-content">
                        <div class="hot-blog-line">
                            <span class="hot-blog text-in-line text-uppercase">[[#{new_blog}]]</span>
                        </div>
                        <div class="bottom-title">
                            <span class="text-with-underline">
                                [[#{you_might_also_like}]]
                            </span>
                        </div>
                        <div class="hot-blog-div">
                            <div class="row">
                                <div class="col-lg-4" th:each="recentPost : ${recentPosts}">
                                    <div>
                                        <img class="mt-3 w-100 object-fit-cover" style="height: 235px"
                                             th:src="${recentPost.img.getUrlOrNull()}"
                                             th:alt="${recentPost.img.originalName}">
                                        <div class="mt-4">
                                            <a href="">[[${recentPost.title}]]</a>
                                            <div class="text-black-50 post-publishDate date-string mt-1 fs-14px fw-400">
                                                [[${recentPost.publishedDate}]]
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div th:replace="~{fragments/sub-content :: content}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="post-scripts">
</th:block>
</body>
</html>
